<!DOCTYPE html>
<html lang="en">

<%-include("./head.ejs") %>

<body>
	<% if (!success) { %>
		<div class="alert">
			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
			<strong>An error occured!</strong> Wrong password or username
		</div>
		<% } %>
			<div class="join-container">
				<header class="join-header">
					<h1><i class="fas fa-smile"></i> ChatCord</h1>
				</header>
				<main class="join-main">
					<form method="POST">
						<div class="form-control">
							<label for="username">Username</label>
							<input type="text" name="username" id="username" placeholder="Enter username..." required />
							<label for="password">Password</label>
							<input type="password" name="password" id="password" placeholder="Enter password..."
								required />
						</div>

						<button type="submit" class="btn">Log in</button>
					</form>
					<button class = "btn" onclick="window.location.href='/register'">Register</button>
				</main>
			</div>
</body>
</html>