<!DOCTYPE html>
<html lang="en">

<%-include("./head.ejs") %>

    <body>
        <% if (message=="password" ) { %>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>An error occured!</strong> Password don't match
            </div>
            <% } %>
                <% if (message=="username" ) { %>
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <strong>An error occured!</strong> Username is taken
                    </div>
                    <% } %>
                        <div class="join-container">
                            <header class="join-header">
                                <h1><i class="fas fa-smile"></i> ChatCord</h1>
                            </header>
                            <main class="join-main">
                                <form action="" method="POST" name="forma">
                                    <div class="form-control" name="controla">
                                        <label for="username">Username</label>
                                        <input type="text" name="username" id="username" placeholder="Enter username..."
                                            required />
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password"
                                            placeholder="Enter password..." required />
                                        <label for="repeatPassword">Repeat Password</label>
                                        <input type="password" name="repeat" id="repeat"
                                            placeholder="Repeat password..." required />
                                        <div class="form-control">

                                        </div>
                                    </div>

                                    <button type="submit" class="btn">Register</button>
                                    <button class="btn" onclick="window.location.href='/'">Back to Log in</button>
                                </form>


                            </main>
                        </div>
    </body>

</html>